h1{
    color: rgb(117, 15, 15);
    text-decoration: underline;
}
h5{
    color: rgb(131, 74, 223);
    font-size: 20px;
}

body {
    background-color: rgb(2, 58, 2);
}
.Fya {
    width: 200px;
    height: 200px;
}
.SMB {
    width: 200px;
    height: 200px;

}
.SSF2 {
    width: 200px;
    height: 200px;

}
.F {
    width: 200px;
    height: 200px;

}
.FG {
    width: 200px;
    height: 200px;

}
.CSGO {
    width: 200px;
    height: 200px;

}